<div class="content" class="jumbotron">

  <p>Bacon ipsum dolor amet ball tip tenderloin chuck beef ribs tri-tip drumstick strip steak tail chicken pork landjaeger pork chop shankle leberkas. Pastrami ball tip spare ribs, shankle chuck porchetta frankfurter pancetta jerky boudin capicola landjaeger prosciutto tri-tip strip steak. Tenderloin salami pork chop chicken picanha drumstick cow kevin short ribs pork belly. Doner meatball tri-tip swine shank shoulder drumstick.</p>

<p>Corned beef drumstick brisket shoulder, capicola rump meatball sausage porchetta tongue fatback beef bacon ball tip. Kielbasa andouille chicken landjaeger pig tri-tip. Flank turkey kielbasa, salami rump andouille tri-tip sausage swine ham cow. Pork chop pig jowl hamburger spare ribs pancetta kielbasa ground round sirloin ham.</p>

<p>Sirloin pig tongue chicken corned beef brisket porchetta beef ribs. Frankfurter shankle chuck drumstick bresaola pork loin pork belly alcatra ground round. Pork pork loin ribeye shankle picanha porchetta spare ribs. Picanha jowl pork loin meatball cow. Brisket beef swine tail shankle corned beef pork. T-bone pig sausage corned beef frankfurter shankle.</p>

<p>T-bone corned beef bacon, spare ribs picanha beef swine tail cow chicken tongue tri-tip cupim meatball. Drumstick porchetta brisket, venison prosciutto ham hock spare ribs ground round short ribs biltong ball tip ham beef short loin. Chuck kevin pancetta flank pork loin porchetta short ribs doner t-bone pastrami ham hock. Tri-tip boudin ball tip corned beef hamburger. Hamburger bacon chicken kevin porchetta strip steak pancetta beef tri-tip shoulder leberkas. Bacon filet mignon beef, boudin ham ball tip shank pancetta flank swine pork belly brisket jowl shoulder leberkas. Short ribs boudin ham pork chop ball tip tongue shankle.</p>

<p>Swine meatball drumstick boudin turkey kevin. Cow brisket pig chuck shank pork loin pancetta spare ribs fatback beef. Short ribs tri-tip pork loin, sausage ball tip ground round prosciutto tongue. Bresaola tri-tip fatback alcatra swine pork frankfurter pork belly.</p>
  <!-- <a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a>
  <p>hello {{userName}}, click to go clip some videos!</p>
  <a class="btn btn-primary btn-lg" role="button" href="editor">Editor</a> -->

  <!-- <div class="home jumbotron centered">
    <h1>Welcome to the angular2 authentication sample!</h1>
    <h2 *ngIf="jwt">Your JWT is:</h2>
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
    <p>Click any of the buttons to call an API and get a response</p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <h2 *ngIf="response">The response of calling the <span class="red">{{api}}</span> API is:</h2>
    <h3 *ngIf="response">{{response}}</h3>
  </div> -->

</div>
